.navbar {
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: rgb(19, 19, 19);
}
.navContainer {
    margin: 0 auto;
    width: 85%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links {
    display: flex;
    align-items: center;
}
.links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
}
.Navtitle {
    color: #fff;
    font-size: 17px;
}

@media (max-width: 900px) {
    .navContainer {
        width: 95%;
    }
    .Navtitle {
        font-size: 13px !important;
    }
    .links a {
        font-size: 20px;
    }
}